<% include ../partials/header %>

  <div class="bgRandom bgBlur"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <i class="glyphicon glyphicon-edit form-icon"></i>&nbsp;<span class="glyphicon glyphicon-tent"></span>
            <h2><%=campground.name %></h2>

            <div id="panel-campground" class="form-center">
              <form action="/campgrounds/<%=campground._id %>/?_method=PUT" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="origImage" value="<%=campground.image %>">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input class="form-control" type="text" name="name" value="<%=campground.name %>" placeholder="name">
                </div>
                <div class="form-group">
                  <label for="Price">Price</label>
                  <input class="form-control" type="number" name="price" value="<%=campground.price %>" placeholder="price" min="0.01" step="0.01">
                </div>
                <div class="form-group">
                  <label for="image">Image</label>
                  <input class="form-control" type="file" name="image">
                </div>
                <div class="checbox">
                  <label for="removeImage">Remove Image?
                    <input type="checkbox" name="removeImage">
                  </label>
                </div>
                <div class="form-group">
                  <label for="location">Location</label>
                  <input class="form-control" type="text" name="location" id="location" value="<%=campground.location %>">
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" name="description" placeholder="description"><%=campground.description %></textarea>
                </div>
                <div class="form-group text-center">
                  <input class="btn btn-lg btn-primary" type="submit" value="Update">
                </div>
              </form>
              <div class="text-center">
                <a href="/campgrounds/<%=campground._id %>">Back</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
