<% include ../partials/header %>

  <div class="bgRandom bgBlur"></div>
  <div class="container">
    <div class="well">
      <header class="jumbotron">
        <div class="container">
          <h1><span class="glyphicon glyphicon-tent"></span>Welcome to YelpCamp</h1>
          <p>Discover amazing campgrounds</p>

          <% if(currentUser) { %>
            <p>
              <a id="newCamp" class="btn btn-primary btn-large" href="/campgrounds/new">New Campground</a>
            </p>
          <% } %>

        </div>
      </header>
    </div>

    <div class="row text-center flex">
      <% campgrounds.forEach(function(campground) { %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail rounded">
              <img class="img-responsive img-rounded" src="<%=campground.image %>" alt="<%=campground.name %>">
              <div class="caption">
                <h4><%=campground.name %></h4>
              </div>
              <p>
                <a href="/campgrounds/<%=campground._id %>" class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;More Info</a>
              </p>
          </div>
        </div>
      <% }); %>
    </div>

    <!-- Pagination -->
    <!-- Provided by Roman Tuomisto -->
    <!-- https://www.udemy.com/the-web-developer-bootcamp/learn/v4/questions/1646592 -->
    <div class="row">
      <nav>
        <div class="col-md-offset-5">
          <ul class="pagination pagination-lg">

            <% if (output.pages.current > 1 && output.pages.hasPrev === true) { %>
              <li>
                <a href="/campgrounds/page/<%=output.pages.prev %>" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            <% } else { %>
              <li>
                <a class="btn btn-xs disabled" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            <% } %>

            <% for (var i = 1; i < output.pages.total + 1; i++) { %>
              <li><a href="/campgrounds/page/<%=i %>"><%=i %></a></li>
            <% } %>

            <% if (output.pages.current < output.pages.total && output.pages.hasNext === true) { %>
              <li>
                <a href="/campgrounds/page/<%=output.pages.next %>" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            <% } else { %>
              <li>
                <a class="btn btn-xs disabled" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
      </nav>
    </div>
    <!-- End Pagination -->
  </div>

  <!-- jQuery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    var bgImgs = [
      'http://i.imgur.com/K3mPv14.jpg',
      'http://i.imgur.com/SBEmFpv.jpg',
      'http://i.imgur.com/emvhOnb.jpg',
      'http://i.imgur.com/2LSMCmJ.jpg',
      'http://i.imgur.com/TVGe0Ef.jpg'
    ];

    $('.bgRandom').css({
      'background-image': 'url(' + bgImgs[Math.floor(Math.random() * bgImgs.length)] + ')'
    });

    function mobileViewUpdate() {
      var viewportWidth = $(window).width();
      if (viewportWidth < 425) {
        $("header").removeClass("jumbotron");
      } else {
        $("header").addClass("jumbotron");
      }
    }
    $(document).ready(mobileViewUpdate);
    $(window).resize(mobileViewUpdate);
  </script>

<% include ../partials/footer %>
