<% include ../partials/header %>

  <div class="bgRandom bgBlur"></div>
  <div class="container container-top">
    <div class="row">
      <div class="col-md-12">
        <% if(currentUser) { %>
          <p>
            <a id="newCamp" class="btn btn-primary btn-lg" href="/campgrounds/new"><i class="glyphicon glyphicon-tent"></i> New Campground</a>
          </p>
        <% } %>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center flex">
      <div class="col-md-8">
        <div class="col-md-12 cg-list-bg soft-rounded">

          <div class="form-center">
            <form class="" action="#" method="post">
              <button class="btn btn-primary pull-right search-btn" type="button" name="search-btn">Search</button>
              <div class="form-group stretcher">
                <input class="form-control search-form" type="text" name="search" value="" placeholder="Search...">
              </div>
            </form>
          </div>

          <% campgrounds.forEach(function(campground) { %>
            <div class="new-thumbnail rounded">
                <img class="img-responsive img-rounded" src="<%=campground.image %>" alt="<%=campground.name %>">
                <div class="caption">
                  <h4><%=campground.name %> <span class="rating-star"><strong> <%= campground.rating.toFixed(1) %></strong></span></h4>
                  <p><%=campground.description.substring(0, 150) %>...
                    <a href="/campgrounds/<%=campground._id %>" class="btn btn-info btn-xs pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;More Info</a>
                  </p>
                </div>
            </div>
            <hr>
          <% }); %>

          <!-- Pagination -->
          <!-- Provided by Roman Tuomisto -->
          <!-- https://www.udemy.com/the-web-developer-bootcamp/learn/v4/questions/1646592 -->
          <div class="row">
            <nav>
              <div class="">
                <ul class="pagination pagination-lg">

                  <% if (output.pages.current > 1 && output.pages.hasPrev === true) { %>
                    <li>
                      <a href="/campgrounds/page/<%=output.pages.prev %>" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  <% } else { %>
                    <li>
                      <a class="btn btn-xs disabled" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                  <% } %>

                  <% for (var i = 1; i < output.pages.total + 1; i++) { %>
                    <li><a href="/campgrounds/page/<%=i %>"><%=i %></a></li>
                  <% } %>

                  <% if (output.pages.current < output.pages.total && output.pages.hasNext === true) { %>
                    <li>
                      <a href="/campgrounds/page/<%=output.pages.next %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  <% } else { %>
                    <li>
                      <a class="btn btn-xs disabled" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  <% } %>
                </ul>
              </div>
            </nav>
          </div>
          <!-- End Pagination -->

        </div>
      </div>

      <div class="col-md-4 col-sm-8 col-side-bg soft-rounded">
        <div class="col-md-12">
          <p>Top Camps? Search?</p>
        </div>
      </div>
    </div>
  </div>

  <!-- jQuery -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript">
    var bgImgs = [
      'http://i.imgur.com/K3mPv14.jpg',
      'http://i.imgur.com/SBEmFpv.jpg',
      'http://i.imgur.com/emvhOnb.jpg',
      'http://i.imgur.com/2LSMCmJ.jpg',
      'http://i.imgur.com/TVGe0Ef.jpg'
    ];

    $('.bgRandom').css({
      'background-image': 'url(' + bgImgs[Math.floor(Math.random() * bgImgs.length)] + ')'
    });
  </script>

<% include ../partials/footer %>
