<% include ../partials/header %>

  <div class="follow-scroll">
    <a href="#top"><i class="fa fa-arrow-circle-o-up fa-3x" aria-hidden="true"></i></a>
  </div>

  <div class="container">
    <div class="row text-center flex">
      <div class="col-md-10 col-md-offset-1">
        <div class="col-md-12">

          <div class="search-results" id="search-top">
            <h3>Search Results</h3>
            <hr>
          </div>

          <div class="soft-rounded" id="campground-grid">
            <% campgrounds.forEach(function(campground) { %>
              <div class="new-thumbnail rounded box-shadow">
                <div class="caption-top">
                  <h4><a href="/campgrounds/<%=campground._id %>"><%=campground.name %></a> <span class="rating-star"><strong> <%= campground.rating.toFixed(1) %></strong></span></h4>
                </div>

                <div class="img-container">
                  <img class="img-responsive" src="<%=campground.image %>" alt="<%=campground.name %>">
                  <% if (campground.author.id.image !== undefined) { %>
                    <img class="img-circle user-img cornerimage" src="<%=campground.author.id.image %>" alt="<%=campground.author.username %>">
                  <% } else { %>
                    <img class="img-circle user-img cornerimage" src="https://s3.us-east-2.amazonaws.com/pattonjim-yelpcamp/uploads/no-profile.png" alt="<%=campground.author.username %>">
                  <% } %>
                </div>

                <div class="caption">
                  <p><%=campground.description.substring(0, 250) %>...
                    <a href="/campgrounds/<%=campground._id %>" class="btn btn-info btn-xs pull-right"><i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp;&nbsp;More Info</a>
                  </p>
                </div>
              </div>
            <% }); %>
          </div>
          <a href="/campgrounds" class="btn btn-default btn-xs">Back to Camps</a>
        </div>
      </div>
    </div>
  </div>

<% include ../partials/footer %>
<% include ../partials/footer-java %>
<script type="text/javascript" src="/js/main.js"></script>
<% include ../partials/bottom %>
